@media (min-width: 992px){
body {
    background-color: gainsboro;
}
#navbar{
    background-color: lightseagreen;
    color: white;
    font-family: Helvetica;

}
#navbarNav{
    font-family: Helvetica;
}

h1 {
    color:lightseagreen;
    font-family:Helvetica;
    font-size: 250%;
}
h2 {
    color:lightseagreen;
    font-family: Helvetica;
    font-size:200%;
}
#comparison {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
}

h6 {
    color:lightseagreen;
    font-family: Helvetica;
}
}