@media (min-width: 992px){
body{
        background-color: gainsboro;
    }
    #navbar{
        background-color: lightseagreen;
        color: white;
        font-family: Helvetica;

    }
    #navbarNav{
        font-family: Helvetica;
    }

    h1 {
        color:lightseagreen;
        font-family:Helvetica;
        font-size: 250%;
        text-align: center;
    }
    p {
        white-space:normal;
    }
    h2 {
        color:lightseagreen;
        font-family: Helvetica;
        font-size:200%;
        text-align: center;
    }
    #Summary {
        background-color: white;

    }
    #Visualizations {
        background-color: white;
    }
}